%h1 Listing options

%table.table.table-hover
  %tr
    %th Option type
    %th Name
    %th Cost
    - if can? :manage, Option
      %th Markup
    %th
    %th
    %th

  - @options.each do |option|
    %tr
      %td= option.option_type
      %td= option.name
      %td= option.cost
      - if can? :manage, Option
        %td= option.markup
      %td= link_to 'Show', option
      %td= link_to 'Edit', edit_option_path(option) if can? :manage, Option
      %td= link_to 'Destroy', option, :method => :delete, :data => { :confirm => 'Are you sure?' } if can? :manage, Option

%br

= link_to 'New Option', new_option_path if can? :manage, Option
