%p#notice= notice

%p
  %b Option type:
  = @option.option_type
%p
  %b Name:
  = @option.name
%p
  %b Cost:
  = @option.cost
%p
  %b Markup:
  = @option.markup
- if can? :manage, Option
  = link_to 'Edit', edit_option_path(@option)
  \|
= link_to 'Back', options_path
