%h1 Listing vehicles

%table.table.table-hover
  %tr
    %th Make
    %th Vehicle model
    %th Year
    %th Color
    %th Cost
    %th Markup
    %th
    %th
    %th

  - @vehicles.each do |vehicle|
    %tr
      %td= vehicle.make
      %td= vehicle.vehicle_model
      %td= vehicle.year
      %td= vehicle.color
      %td= vehicle.cost
      %td= vehicle.markup
      %td= link_to 'Show', vehicle
      %td= link_to 'Edit', edit_vehicle_path(vehicle)
      %td= link_to 'Destroy', vehicle, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Vehicle', new_vehicle_path
