%h1 Listing vehicles
= form_tag vehicles_path, method: :get, remote: true
= text_field_tag 'q', '', placeholder: "Search Vehicles"
= submit_tag "Search", class: "btn btn-primary"
%br
%br
= render "vehicles"
%br

= link_to 'New Vehicle', new_vehicle_path if can? :manage, Vehicle
